/* =========================================
                Global
============================================ */
.heading-section .subheading {
    font-size: 15px;
    display: block;
    margin-bottom: 5px;
    color: #b69100;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    font-family: "Oswald", sans-serif;
}
.heading-section h2 {
    font-size: 38px;
    font-weight: 600;
    position: relative;
    font-family: "Oswald", sans-serif;
}
.overlay-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    -webkit-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}
.zoom {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(32, 36, 41,0.5);
    opacity: 0;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    display: flex;
    transition: all .3s ease;
    justify-content: center;
}
.zoom i{
    align-self: center!important;
    color: #fff;
    font-size: 28px;
}

/* =========================================
            Site Mobile Menu
============================================ */
.site-mobile-menu-header {
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-right: 20px
}
.site-mobile-menu-close {
    float: right;
}
.site-mobile-menu-close i {
    font-size: 30px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 0px;
    line-height: 1;
    cursor: pointer;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}
.site-mobile-menu-body {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: relative;
    padding: 0 20px 20px 20px;
    height: calc(100vh - 52px);
    padding-bottom: 150px;
}
.site-nav-wrap {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}
.site-nav-wrap li {
    display: block;
    position: relative;
    float: left;
    width: 100%;
}
.site-navbar .toggle-button {
    position: absolute;
    right: 0px;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
.text-black {
    color: #000 !important;
}
.site-mobile-menu  {
    width: 300px;
    right: 0;
    z-index: 9999;
    position: fixed;
    padding-top: 20px;
    background: #fff;
    height: calc(100vh);
    -webkit-transform: translateX(110%);
    -ms-transform: translateX(110%);
    transform: translateX(110%);
    -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
    box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
}

.site-mobile-menu.active {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
}
.site-nav-wrap .nav-link.active {
    color: #ff8b00;
    padding-left: 20px;
    font-size: 20px;
    padding: 10px 20px;
    display: block;
    position: relative;
}
.site-nav-wrap .nav-link {
    padding-left: 20px;
    font-size: 20px;
    padding: 10px 20px;
    display: block;
    position: relative;
    color: #000;
    font-family: "Oswald", sans-serif;
}
/* =========================================
            Site Mobile Menu
============================================ */
.top-bar {
    padding: .5rem 0;
    border-bottom: 1px solid #e9ecef !important;
    background: linear-gradient(to right, #b69100 0%, #282328 51%, #e09d81 100%);
    background: #8d8c8d;
}
/* =========================================
                Site Logo 
============================================ */
.site-logo {
    position: absolute;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 0;
    margin: 0;
    padding: 0;
    z-index: 3;
}
/* =========================================
                Amenities 
============================================ */
#amenities-section {
    width: 100%;
    padding-top: 65px;
    padding-bottom: 60px;
}

.services .icon {
    margin: 0 auto;
    margin-bottom: 20px;
    background: #f7f7f7;
    width: 100px;
    height: 100px;
    display: table;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}
.services .icon i {
    display: table-cell;
    vertical-align: middle;
    height: 100px;
    font-size: 50px;
    color: #998226;
}
.services h3 {
    font-size: 20px;
}
.services {
    font-size: 14px;
}
/* =========================================
                Rooms Section 
============================================ */
.rooms-section {
    position: relative;
    width: 100%;
    display: block;
    padding: 3em 0;
}
.single_place {
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    margin-bottom: 30px;
    box-shadow: 0 0 25px rgba(0,0,0,.1);
    -webkit-box-shadow: 0px 0px 25px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 25px rgba(0,0,0,.1);
    -ms-box-shadow: 0 0 25px rgba(0,0,0,.1);
}
.single_place .thumb {
    position: relative;
    overflow: hidden;
}
.single_place .place_info {
    padding: 27px 20px 25px;
}
.more a{
    background: #998225;
    color: #fff;
    padding: 6px;
    border-radius: 4px;
    font-weight: 400;
}
/* =========================================
                Modal Body
============================================ */
.modal-body {
    background: #ffffff;
}
.bootbox-body {
    font-family: 'Open San', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9375rem;
    font-weight: 300;
    line-height: 1.9;
}
.room-info-icons {
    display: flex;
    border-top: 1px solid #f1f1f1;
    margin-top: 7px;
    padding-top: 6px;
}
/* =========================================
            Section Location
============================================ */
.section-location h3 {
    color: #f3c300;
    font-weight: 600;
    border-bottom: 1px solid;
    padding-bottom: 7px;
}
.section-location p {
    color: #fff;
    font-weight: 600;
}
.section-location span {
    display: block;
}
/* =========================================
                Footer
============================================ */
footer {
    background: none #282428;
    border: none;
    margin: 0;
    margin-top: 45px;
    display: block;
}
#footer_teasers_wrapper{
    padding: 55px 0;
}
footer h3 {
    position: relative;
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 18px;
    padding: 0 0 12px 0;
    margin: 20px 0 20px 0;
}
footer .textwidget p {
    color: #fff;
    font-weight: 400;
    font-size: 13px;
}
.social-icons ul{
    overflow: hidden;
    padding-top: 15px;
    list-style: none;
    padding-left: 0;
}
.social-icons li {
    float: left
}
.social-icons a {
    width: 35px;
    height: 35px;
    font-size: .875rem;
    color: #c9c9c9;
    border: 2px solid #eeeded;
    border-radius: 40px;
    text-align: center;
    display: inline-block;
}
.social-icons i {
    font-size: 16px;
    line-height: 31px;
    color: #fff;
}
 .second-icon {
    margin-left: 10px;
}
.social-icons .third-icon {
    margin-left: 10px;
}
footer .widget-title {
    border-bottom: 1px solid #f3c300;
}
/* =========================================
                Header
============================================ */
.site-navbar {
    margin-bottom: 0px;
    z-index: 1999;
    position: relative;
    width: 100%;
    padding: 1.3rem;
}
@media (max-width: 991.98px) {
.site-navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
}
@media (max-width: 991.98px) {
.site-navbar .site-logo {
    float: left;
    position: relative !important;
}
}
.site-navbar .site-navigation .site-menu {
    margin: 0;
    padding: 0;
    margin-bottom: 0;
}
.site-navbar .site-navigation .site-menu .active {
    color: #b69100!important;;
}
.site-navbar .site-navigation .site-menu>li.active>a {
    color: #b69100!important;
}
.site-navbar .site-navigation .site-menu>li>a {
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px 0;
    color: #000!important;
    display: inline-block;
    text-decoration: none!important;
    font-weight: 600;
    font-family: "Oswald", sans-serif;
    font-size: 19px;
}
.site-navbar .site-navigation .site-menu>li {
    display: inline-block;
}
.site-navbar .site-logo img {
    max-height: 100px;
}
/* =========================================
                Slider
============================================ */
#owl-one .item {
    height: 500px;
    width: 100%;
    background: no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#owl-one .owl-nav {
    position: absolute;
    right: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
#owl-one .owl-prev {
    position: absolute;
    top: 50%;
    font-weight: 600 !important;
    font-size: 2rem !important;
    color: rgba(255, 255, 255, 0.4) !important;
    left: 20px;
    transform: translateY(-50%);
}
#owl-one .owl-next {
    position: absolute;
    top: 50%;
    font-weight: 600 !important;
    font-size: 2rem !important;
    color: rgba(255, 255, 255, 0.4) !important;
    right: 20px;
    transform: translateY(-50%);
}
#owl-one .owl-dots {
    background: 0 0;
    bottom: 0;
    padding: 7px 0;
    width: 100%;
    left: 0;
    margin-left: 0;
    margin-bottom: 0;
    list-style: none;
    text-align: center;
    position: absolute;
}
#owl-one .owl-dot {
    -webkit-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
    -o-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
    transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.4);
    margin: 3px;
}
#owl-one .owl-dot.active {
    width: 20px;
    background: #fff;
    -webkit-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
    -o-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
    transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
    display: inline-block;
    height: 7px;
    border-radius: 4px;
    margin: 3px;
}
.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
}
.carousel-caption h1 {
    text-transform: uppercase;
    font-weight: 900;
    color: #fff;
    font-size: 5rem;
    line-height: 1.2;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.carousel-caption p {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: italic;
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.8)
}
/* =========================================
                Galery
============================================ */
.gallery {
    width: 100%;
    background: #282428;
    padding-top: 60px;
    padding-bottom: 135px;
}
.gallery h2 {
    color: #fff;
}
.thumb img {
    width: 100%;
}
.place_info h3 {
    font-size: 19px;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 15px;
}
#owl-two .owl-nav {
    position: absolute;
    right: 60px;
    bottom: -32px;
}
#owl-two .owl-nav .owl-prev {
    color: #fff;
    font-size: 30px;
    line-height: 40px;
    background: #b69100;
    height: 40px;
    position: relative;
    width: 40px;  
}
#owl-two .owl-nav .owl-next {
    margin-left: 5px;
    color: #fff;
    font-size: 30px;
    line-height: 40px;
    background: #b69100;
    height: 40px;
    width: 40px;
    position: relative;
}



@media screen and (max-width: 767px) {
   
    .site-navbar .site-logo img {
        max-height: 50px;
    }
    .site-navbar {
        border-bottom: 1px solid #e2d9d9;
    }
    .colorlib-video {
        position: static !important;
    }
    #owl-two .owl-nav {
        right: 15px;
    }
    .gallery {
        padding-bottom: 60px;
    }
    .intro-img {
        padding: 3em 0 !important;
    }
    .heading-section h2 {
        font-size: 25px;
    }
    .heading-section .subheading {
        font-size: 12px
    }
    .services h3 {
        font-size: 18px
    }
}
/* =========================================
                Galery
============================================ */
.apartment-section {
    position: relative;
    padding: 0;
    width: 100%;
}
.apartment-panel {
    background-color: #ffffff;
    padding: 40px;
    margin: 0 auto;
    /* ; */
    margin-top: 40px;
    -webkit-box-shadow: 0px 0px 25px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 25px rgba(0,0,0,.1);
    -ms-box-shadow: 0 0 25px rgba(0,0,0,.1);
}
@media screen and (min-width: 1100px) {
    .apartment-panel {
        width: 1100px
    }
    .gdlr-room-info-new-style {

    }
}
@media screen and (max-width: 767px) {
    .gdlr-room-info-new-style {
        width: 20% !important;
    }
    .gdlr-hotel-room-info-new-style {
        display: flex;
        justify-content: center;
    }
    .gdlr-room-info-new-style {
        width: 20%;
    }
}



body.apartment {
    background: #F7F5F5;
}


.slider {
    background: #333;
    height: 400px;
    width: 100%;
  }
  
  #logo {
    background: #ccc;
    width: 150px;
    height: 70px;
  }
  
  .navbar-toggler {
    margin-top: 15px;
  }
  
  @media screen and (min-width: 992px) {
    .navbar {
        height: 130px;
     }
    #logo {
      width: 260px;
      height: 120px;
      position: relative;
      bottom: -20px;
    }
    .navbar-light .navbar-nav .nav-link {
      padding-right: 75px;
    }
    #nav-left {
      padding-left: 30px;
    }
  }



  .modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
  }
  .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
  }
  .modal.fade:not(.modal-top):not(.modal-bottom) .modal-dialog {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}
.modal.show .modal-dialog {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}
.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    -webkit-transform: translate(0, -25%);
    transform: translate(0, -25%);
}
@media (min-width: 576px){
.modal-dialog {
    max-width: 540px;
    margin: 1.75rem auto;
}
}
.modal-dialog {
    margin-top: 0;
    margin-bottom: 0;
    display: -webkit-box;
    display: flex;
    height: 100%;
}
.modal-dialog {
    position: relative;
    width: auto;
    /* margin: 0.5rem; */
    pointer-events: none;
}
.modal-content {
    margin-top: auto;
    margin-bottom: auto;
    border: none;
}
.modal-content {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
}
.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    padding: 1.75rem;
}
.modal-body > .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem 0.75rem;
    z-index: 1;
}
button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
}
.modal .close {
    font-weight: 100;
}
.close:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.modal-header, .modal-footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.modal-footer {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
    padding: 1.75rem;
    border-top: 1px solid #f1f2f3;
}

.modal-backdrop.show {
    opacity: 0.5;
}
.modal-backdrop.fade {
    opacity: 0;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}
.single_place .thumb:hover .zoom {
    opacity: 1;
}

#owl-two .item:hover .zoom{
    opacity: 1;
}

@media (max-width: 991.98px) {
    .carousel-caption h1 {
    font-size: 2rem;
}
}

/* =========================================
                Rooms Section 
============================================ */
.top-bar span {
    font-family: "Oswald", sans-serif;
}
.top-bar a {
    text-decoration: none
}



#owl-three .item {
    height: 500px;
    width: 100%;
    background: no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.outer { margin:0 auto; max-width:800px;}
#big .item { margin:2px; color: #FFF; border-radius: 3px; text-align: center; }
#thumbs .item {     display: table-cell;
    border: none;
    background: none;
    padding: 0;  opacity: .4; height:70px; line-height:70px; padding: 0px; margin:2px; color: #FFF; border-radius: 3px; text-align: center; cursor: pointer; }
#thumbs .item h1 { font-size: 18px; }
#thumbs .current .item {opacity: 1;  }
.owl-theme .owl-nav [class*='owl-'] { -webkit-transition: all .3s ease; transition: all .3s ease; }
.owl-theme .owl-nav [class*='owl-'].disabled:hover { background-color: #D6D6D6; }
#big.owl-theme { position: relative; }
#big.owl-theme .owl-next, #big.owl-theme .owl-prev { background:#333; width: 22px; line-height:40px; height: 40px; margin-top: -20px; position: absolute; text-align:center; top: 50%; }
#big.owl-theme .owl-prev { left: 10px; }
#big.owl-theme .owl-next { right: 10px; }
#thumbs.owl-theme .owl-next, #thumbs.owl-theme .owl-prev { background:#333; }



.gdlr-hotel-room-info-new-style {
    display: flex;
    flex-wrap: wrap;
}
span.gdlr-head {
    font-size: 20px;
    color: #b69100;
}
.gdlr-room-info-new-style {
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #fff;
    margin: 10px;
    -webkit-box-shadow: 0px 0px 25px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 25px rgba(0,0,0,.1);
    -ms-box-shadow: 0 0 25px rgba(0,0,0,.1);
}
span.gdlr-tail {
    font-family: "Open Sans", sans-serif;
    font-size: 0.9375rem;
    font-weight: 300;
    line-height: 1.9;
    text-align: center
}


#big .owl-dots {
    background: 0 0;
    bottom: 0;
    padding: 7px 0;
    width: 100%;
    left: 0;
    margin-left: 0;
    margin-bottom: 0;
    list-style: none;
    text-align: center;
    position: absolute;
}
#big .owl-dot {
    -webkit-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
    -o-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
    transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.4);
    margin: 3px;
}
#big .owl-dot.active {
    width: 20px;
    background: #fff;
    -webkit-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
    -o-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
    transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
    display: inline-block;
    height: 7px;
    border-radius: 4px;
    margin: 3px;
}
#big .owl-dots .owl-dot span {
    display: none
}
.location-map {
      width: 100%;
    height: 340px;
    margin: 0;
    position: absolute;
    top: -75px;
    left: 0;
    right: 0;
    bottom: 0;
    display: table;
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -webkit-box-shadow: 0px 20px 71px -12px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 0px 20px 71px -12px rgba(0, 0, 0, 0.31);
    -ms-box-shadow: 0px 20px 71px -12px rgba(0, 0, 0, 0.31);
    -o-box-shadow: 0px 20px 71px -12px rgba(0, 0, 0, 0.31);
    box-shadow: 0px 20px 71px -12px rgba(0, 0, 0, 0.31);
    overflow: hidden;
}



